<div class="chat-message {{class}}">
    <span class={{classSpan}}>{{text}}</span>
    <p class={{classTime}}>
     <span class={{visibility}}> {{> svgIcon/svgIcon id="double-check"}}</span>
    {{timeMessage}}
    </p>
</div>