---
person:
    name: Test 1
    login: testovich
    email: test@mail.ru
    surname: Testov
    phone: 88889998899
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../../index.pcss"/>
</head>
<body>
    <main class="container">
        <form class="profile" action="#" method="post">
            <div class="profile-view">
                <div class="profile-view__avatar">
                   <div class="profile-avatar">
                       {{> field/file id="profile__load-avatar-input" name="avatar" class="load-avatar-input"}}
                       <label class="load-avatar" for="profile__load-avatar-input">
                          {{> svgIcon/svgIcon id="upload-big"}}
                        </label>
                   </div>
                </div>
                <div class="profile-view__fieldset-edit">
                {{#each person}}
                    <div class="profile-view__item-edit">
                        <label for={{@key}} class="profile-view__item-label">{{@key}}</label>
                        <input type="text" name={{@key}} placeholder=={{@key}} value={{this}} id={{@key}} class="profile-view__item-input"/>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="profile__buttons">
                 {{> button/buttonSubmit label="Save changes" class="profile-button__edit"}}
            </div>
        </form>
    </main>
</body>
