<form action={{action}} method={{method}} class={{class}}>
    <label class="search-label">
    {{> svgIcon/svgIcon id="search"}}
    <input name="search" type="text" placeholder={{searchPlaceholder}} class={{classText}}>
    </label>
</form>